@using FleaMarket.Models.Entities;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject ProductService productService;
@inject UserService _userService;
@model UpdateTableNumberViewModel
@{
    string userId = User.FindFirst("Id")?.Value;

    var userProducts = productService.GetAllUserProducts(userId);

    var user = await _userService.GetUserAsync(x => x.Id == userId);

    ViewData["Title"] = "Mitt konto";
}
<nav class="container breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item active">Mitt konto</li>
    </ol>
</nav>

<section class="container">
    @if(user.CompanyName == null)
    {
        <h2>@user.UserName</h2> 
        <p>@user.Email</p> 
    }
    else
    {
        <h2>@user.CompanyName</h2>
    }

    @if (@TempData["SuccessMessage"] != null)
    {
        <p class="bg-success">@TempData["SuccessMessage"]</p>
    }

    <!--If the user isActiveSeller is false-->
    @if (user.IsActiveSeller == false)
    {
        <div class="account-active-selleraccount">
            <div class="activate-selleraccount--content">
                <h3>Aktivera säljkonto</h3>
                <p>Vill du börja sälja? Aktivera ditt säljkonto snabbt och smidigt via knappen nedan.</p>
                <p class="mt-2">Att aktivera ditt säljkonto kostar 30kr per dag. Då kan du under den dagen lägga ut hur många produkter som du vill.</p>
                <a class="button" asp-action="CreatePaymentRequest" asp-controller="Payment" class="text-decoration-underline">Läs mer och aktivera här</a>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center mt-4">
            <p>Ditt bordsnummer idag: </p>
            <form class="ms-3" method="post" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
                <input asp-for="@Model.NewTableNumber" class="tablenumber-input" type="number" value="@user.TableNumber" />
                <input asp-for="@Model.UserId" value="@userId" hidden />
                <button class="button" type="submit">Uppdatera</button>
            </form>
        </div>

        <a class="mt-4 text-decoration-underline" asp-action="CreateProduct" asp-controller="Product">Lägg upp en produkt.</a>

        @if(user.Products.Count == 0)
        {
        }
        else
        {
            <h5>Dina produkter</h5>
            @foreach (var product in userProducts)
            {
                <div>
                    <partial name="/Views/Partials/_ProductAccountPartial.cshtml" model="product" />
                </div>
            }
        }
        <div>
            <p>Ditt säljkonto är idag aktiverat, du kan lägga ut hur många produkter du vill.</p>
        </div>
    }


    <a class="text-decoration-underline mt-5 d-block" asp-action="LogoutUser" asp-controller="Authentication">Logga ut</a>
</section>
