@using FleaMarket.Models.Entities;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject ProductService productService;
@inject UserService _userService;
@model UpdatePlaceViewModel
@{
    string userId = User.FindFirst("Id")?.Value;

    IEnumerable<ProductEntity> userProducts = productService.GetAllUserProducts(userId);

    var user = await _userService.GetUserAsync(x => x.Id == userId);

    ViewData["Title"] = "Mitt konto";
}
<nav class="container breadcrumb-container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item active">Mitt konto</li>
    </ol>
</nav>

<section class="container account-section">
    @if(user.CompanyName == null)
    {
        <h2>@user.UserName <span class="email-span">- @user.Email</span></h2>
    }
    else
    {
        <h2>@user.CompanyName</h2>
    }

    @if (@TempData["SuccessMessage"] != null)
    {
        <p class="bg-success">@TempData["SuccessMessage"]</p>
    }
    @if (@TempData["ProductDeletedMessage"] != null)
    {
        <p class="bg-success">@TempData["ProductDeletedMessage"]</p>
    }

    <!--If the user isActiveSeller is false-->
    @if (user.IsActiveSeller == false)
    {
        <div class="account-active-selleraccount">
            <div class="activate-selleraccount--content">
                <h3>Aktivera säljkonto</h3>
                <p>Vill du börja sälja? Aktivera ditt säljkonto snabbt och smidigt via knappen nedan.</p>
                <p class="mt-2">Att aktivera ditt säljkonto kostar 30kr per dag. Då kan du under den dagen lägga ut hur många produkter som du vill.</p>
                <a class="button" asp-action="CreatePaymentRequest" asp-controller="Payment" class="text-decoration-underline">Läs mer och aktivera här</a>
            </div>
        </div>
    }
    else
    {
        <form class="update-place-form full-bleed" method="post" enctype="multipart/form-data" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <label class="d-block" asp-for="@Model.NewPlace">Plats</label>
                    <div class="mb-2" id="popupButton"><i class="fa-regular fa-circle-question"></i></div>
                </div>
                <div class="update-place-form--form-group">
                    <input asp-for="@Model.NewPlace" type="text" value="@user.Place" placeholder="Plats (ex. Till höger om ingången)" />
                    <button class="button purple-button" type="submit">Uppdatera</button>
                </div>
                <div id="popup">
                    <div id="popupContent">
                        <p>Beskriv kort och enkelt hur man kan hitta dig.</p>
                        <p>Ex. Andra raden till höger, grå bil.</p>
                        <p class="mt-2">Ladda gärna upp en bild på ditt bord också, så att kunderna enkelt kan hitta dig.</p>
                        <button class="button purple-button" type="button" id="closeButton">Stäng</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="mt-1 update-place-form--form-group update-place-form--image-group">
                    <input asp-for="Image" value="@user.PlaceImgUrl" />
                    <button class="button purple-button" type="submit">Uppdatera</button>
                </div>
            </div>

            <input asp-for="@Model.UserId" value="@userId" hidden />
        </form>

        <a class="button orange-button account-section--add-product-btn" asp-action="CreateProduct" asp-controller="Product">Skapa produkt</a>

        @if(user.Products.Count == 0)
        {
        }
        else
        {
            <button class="button purple-button product-card--see-more-btn modal-parent" id="openDeleteAllProductsBtn" data-modalid="deleteAllProductsModal">Jag är klar för idag</button>

            <!-- The delete all products Modal -->
            <div id="deleteAllProductsModal" class="product-card--content--modal __modal">
                <div class="modal-content bg-danger p-5">
                    <div class="close"><i class="fa-solid fa-xmark"></i></div>
                    <h4>Stort tack för att du väljer att använda våran tjänst. <br /> <br /> Vi hoppas att du hade en bra sälj-dag.</h4>
                    <p>När du är klar för dagen ska du ta bort dina produkter så att besökare inte försöker hitta din plats i onödan.</p>
                    <p>Klicka på knappen nedan för att ta bort alla dina produkter.</p>
                    <p>Tack för idag!</p>
                    <p class="small-text">Hälsningar TradeTrails Teamet</p>

                    <div>
                        <div id="deleteProductsConGroup" class="d-none btnConfirmationGroup">
                            <form method="post" asp-controller="Account" asp-action="DeleteAllUserProducts">
                                <button onclick='hideConfirmationGroup("deleteProductsGroup", "deleteProductsConGroup")' class="button purple-button product-card--delete-button" type="button">Avbryt</button>
                                <button class="button orange-button product-card--delete-button" type="submit">Bekräfta</button>
                            </form>
                        </div>
                        <div id="deleteProductsGroup" class="singleBtnGroup">
                            <button onclick='showConfirmationGroup("deleteProductsGroup", "deleteProductsConGroup")' class="button orange-button product-card--delete-button show-congroup-btn">
                                Ta bort produkter</button>
                        </div>
                    </div>
                    <!--Admin part, ALL products-->
                    @if (User.IsInRole("Admin"))
                    {
                        <div>
                            <p>Admin</p>
                            <p>Ta bort alla produkter, gör alla activeSeller = false och tar bort alla userPlaces</p>
                            <div id="deleteAllProductsConGroup" class="d-none btnConfirmationGroup">
                                <form method="post" asp-controller="Admin" asp-action="DailyReset">
                                    <button onclick='hideConfirmationGroup("deleteAllProductsGroup", "deleteAllProductsConGroup")' class="button purple-button product-card--delete-button" type="button">Avbryt</button>
                                    <button class="button orange-button product-card--delete-button" type="submit">Bekräfta</button>
                                </form>
                            </div>
                            <div id="deleteAllProductsGroup" class="singleBtnGroup">
                                <button onclick='showConfirmationGroup("deleteAllProductsGroup", "deleteAllProductsConGroup")' class="button orange-button product-card--delete-button show-congroup-btn">Ta bort allt</button>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <h5>Dina produkter</h5>
            @foreach (var product in userProducts)
            {
                <div>
                    @{
                        ViewData["productId"] = product.Id.ToString();
                        <partial name="/Views/Partials/_ProductPartial.cshtml" />
                    }
                </div>
            }
        }
        <div class="mt-4">
            <p>Ditt säljkonto är aktiverat, du kan lägga ut hur många produkter du vill idag.</p>
        </div>
    }

    @if (User.IsInRole("Admin") == true)
    {
        <a class="my-3 text-decoration-underline" asp-controller="Admin" asp-action="RegisterMarket">Skapa ny marknad</a>
    }

    <a class="logout-link text-decoration-underline" asp-controller="Authentication" asp-action="ForgotPassword">Återställ lösenord</a>

</section>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Your script -->
<script>
    $(document).ready(function () {
        $("#popupButton").click(function () {
            if ($("#popup").is(":visible")) {
                $("#popup").hide();
            } else {
                $("#popup").show();
            }
        });

        $("#closeButton").click(function () {
            $("#popup").hide();
        });
    });
</script>