@using FleaMarket.Models.Entities;
@model MarketEntity;

<a class="market-card" asp-controller="Product" asp-action="Market" asp-route-marketName="@Model.MarketTitle">
    <p class="market-title">@Model.MarketTitle</p>

    @if (Model.marketDescription != null)
    {
        <p class="market-description">
            @Model.marketDescription
            @if (Model.MarketLink != null)
            {
                <div class="market-link">Till webbplatsen <i class="fa-solid fa-arrow-up-right-from-square"></i></div>
            }
        </p>
    }
    <div class="d-flex gap-4">
        @if (Model.TimeOpen != null)
        {
            <div>
                <p class="market-undertitle">Öppettider</p>
                <p class="market-time">@Model.TimeOpen</p>
            </div>
        }

        @if (Model.MapLink != null)
        {
            <div>
                <p class="market-undertitle">Address</p>
                <p class="address" href="@Model.MapLink" target="_blank">@Model.Address <i class="fa-solid fa-arrow-up-right-from-square"></i></p>
            </div>
        }
        else
        {
            <div>
                <p class="market-undertitle">Address</p>
                <p class="address">@Model.Address</p>
            </div>
        }
    </div>
</a>