@using FleaMarket.Models.Entities;
@model MarketEntity;

<div class="market-card">
    <a asp-controller="Product" asp-action="Market" asp-route-marketName="@Model.MarketTitle">
        <img src="~/Images/Markets/@Model.ImageUrl" alt="Bild kan ej visas." />
        <div class="market-card--content">
            <p class="market-card--icon-group market-card--time-open">
                <i class="fa-solid fa-clock"></i>
                @Model.TimeOpen
            </p>
            <p class="market-card--icon-group market-card--adress">
                <i class="input-icon fa-solid fa-location-dot"></i>
                @Model.Address
            </p>

            <h3>@Model.MarketTitle </h3>

        </div>
    </a>
    @if(Model.MarketLink != null)
    {
        <a href="@Model.MarketLink" class="market-card--icon-group market-card--more-info">
            Mer information
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </a>
    }
</div>