@using FleaMarket.Models.Entities;
@model ProductEntity
<div class="bg-light p-3 my-4">
    <h4>@Model.Title</h4>

    @if (Model.Price != 0)
    {
        <h5>@Model.Price kr</h5>
    }
    else
    {
        <h5>Pris: Skänkes</h5>
    }

    <p>@Model.SelectMarket, Bord: @Model.TableNumber</p>

    @if (Model.Brand != null)
    {
        <p>Märke: @Model.Brand</p>
    }
</div>
