@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@model ProductEntity
@inject UserService _userService
@inject ProductService _productService
@{
    var market = await _productService.GetMarketAsync(x => x.Id == Model.MarketId);

    UserEntity user = await _userService.GetUserAsync(x => x.Id == Model.UserId);

    UserEntity loggedInUser = new UserEntity();

    loggedInUser = await _userService.GetUserAsync(x => x.UserName == User.Identity.Name);

    var place = user.Place;
}
<div class="product-card">
    @if (Model.ImageUrl != null)
    {
        <div class="product-card--img-container">
            <img src="~/Images/Products/@Model.ImageUrl" alt="Bild kan ej visas." />
        </div>
    }
    <div class="product-card--content">
        <div>
            <h4 class="product-title">@Model.Title</h4>
            <p class="market-title">@market.MarketTitle</p>
            @if (Model.Brand != null)
            {
                <p>Märke: @Model.Brand</p>
            }
        </div>
        @if (Model.Price != 0)
        {
            <p class="product-price">@Model.Price kr</p>
        }

        <!-- Trigger/Open The Modal -->
        <div class="d-flex justify-content-between">
            <button class="button purple-button product-card--see-more-btn" id="seeMoreBtn-@Model.Id" onclick='seeMoreProductInfo("seeMoreModal-@Model.Id")'>Se mer</button>
            @if (User != null && loggedInUser != null)
            {
                if (Model.UserId == loggedInUser.Id)
                {
                    <form method="post" asp-controller="Product" asp-action="DeleteProduct" asp-route-productId="@Model.Id">
                        <button class="button orange-button product-card--delete-button" type="submit">Ta bort</button>
                    </form>
                }
            }
        </div>
        <!-- The Modal -->
        <div id="seeMoreModal-@Model.Id" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="close"><i class="fa-solid fa-xmark"></i></div>
                @if (Model.ImageUrl != null)
                {
                    <img src="~/Images/Products/@Model.ImageUrl" alt="Bild kan ej visas." />
                }                
                <h5 class="mt-2">@Model.Title</h5>
                <p>Plats: @place</p>
                <p>@market.MarketTitle</p>
                <p>@Model.Price kr</p>
            </div>
        </div>
    </div>

</div>
