@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@model ProductEntity
@inject UserService _userService
@{
    UserEntity user = await _userService.GetUserAsync(x => x.Id == Model.UserId);

    var tableNumber = user.TableNumber;
}
<div class="product-card">
    @if (Model.ImageUrl != null)
    {
        <img class="" src="~/Images/Products/@Model.ImageUrl" alt="Bild kan ej visas" />
    }
    <div class="product-card--content">
    <h4>@Model.Title</h4>

    @if (Model.Price != 0)
    {
        <p>@Model.Price kr</p>
    }
    <p>@Model.SelectMarket, Bord: @tableNumber</p>
    @if (Model.Brand != null)
    {
        <p>Märke: @Model.Brand</p>
    }
    </div>

</div>
