@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@model ProductEntity
@inject UserService _userService
@{
    UserEntity user = await _userService.GetUserAsync(x => x.Id == Model.UserId);

    var tableNumber = user.TableNumber;
}
<div class="bg-light p-3 my-4 shadow rounded">
    <h4>@Model.Title</h4>
    @if (Model.ImageUrl != null)
    {
        <img class="w-75 mb-2" src="~/Images/Products/@Model.ImageUrl" alt="Bild kan ej visas" />
    }
    @if (Model.Price != 0)
    {
        <p>@Model.Price kr</p>
    }
    <p>@Model.SelectMarket, Bord: @tableNumber</p>
    @if (Model.Brand != null)
    {
        <p>Märke: @Model.Brand</p>
    }
</div>
