@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@model ProductEntity
@inject UserService _userService
@inject ProductService _productService
@{
    var market = await _productService.GetMarketAsync(x => x.Id == Model.MarketId);

    UserEntity user = await _userService.GetUserAsync(x => x.Id == Model.UserId);

    var tableNumber = user.TableNumber;
}
<div class="product-card">
    @if (Model.ImageUrl != null)
    {
        <div class="product-card--img-container">
            <img src="~/Images/Products/@Model.ImageUrl" alt="Bild kan ej visas." />
        </div>
    }
    <div class="product-card--content">
        <div>
            <h4 class="product-title">@Model.Title</h4>
            <p class="product-tablenumber">Bord: @tableNumber</p>
            <p>@market.MarketTitle</p>
            @if (Model.Brand != null)
            {
                <p>Märke: @Model.Brand</p>
            }
        </div>
        @if (Model.Price != 0)
        {
            <p class="product-price">@Model.Price kr</p>
        }
    </div>

</div>
