@using FleaMarket.Models;
@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject MarketService marketService

@{
    var markets = await marketService.GetAllAsync();

    ViewData["Title"] = "Marknader";
}

<nav class="container" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li class="breadcrumb-item active">Marknader</li>
    </ol>
</nav>

<div class="container mt-5">
    <h2 class="mb-5">Aktiva marknader just nu</h2>

    @foreach (var market in markets)
    {
        <div class="bg-light p-3 my-2 shadow rounded">
            <h3><a asp-controller="Product" asp-action="Market" asp-route-marketName="@market.MarketTitle">@market.MarketTitle</a></h3>
            @if (market.TimeOpen != null)
            {
                <p>@market.TimeOpen</p>
            }
            @if (market.marketDescription != null)
            {
                <p>@market.marketDescription</p>
            }
            <p><b>Adress: </b>@market.City @market.Address</p>
            @if (market.MarketLink != null)
            {
                <a href="@market.MarketLink" target="_blank">Mer info <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
            }
        </div>
    }
</div>



