@using FleaMarket.Models.ViewModels;
@using FleaMarket.Services;
@inject ProductService productService
@model SearchProductViewModel
@{
    ViewData["Title"] = "Ulva Kvarn";
    var ulvaProducts = productService.GetUlvaKvarn();
}
<a asp-controller="Product" asp-action="Index"><u>Välj en annan marknad</u></a>
<h2>Produkter på Ulva Kvarn idag</h2>

<form method="post">
    <div class="form-group">
        <input id="searchString" asp-for="SearchString" type="text" placeholder="Vad letar du efter?"/>
        <button onclick="document.getElementById('searchString').value = ''">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="form-group">
        <select asp-for=@Model.Category name="Category">
            <option value="Alla kategorier" selected>Alla kategorier</option>
            <optgroup label="För hemmet">
                <option value="Möbler och heminredning">Möbler och heminredning</option>
                <option value="Bygg och trädgård">Bygg och trädgård</option>
                <option value="Vitvaror och husgeråd">Vitvaror och husgeråd</option>
                <option value="Verktyg">Verktyg</option>
            </optgroup>
            <optgroup label="Personligt">
                <option value="Kläder och skor">Kläder och skor</option>
                <option value="Barnkläder och skor">Barnkläder och skor</option>
                <option value="Barnleksaker och barnartiklar">Barnleksaker och barnartiklar</option>
                <option value="Accessoarer">Accessoarer</option>
            </optgroup>
            <!--Övrigt-->
            <option value="Övrigt">Övrigt</option>
        </select>
    </div>
    <button class="mt-4 btn-success btn" type="submit">Filtrera</button>
</form>


<!--Model.NoProducts == null && Model.Products == null-->
@if(Model == null)
{
    @foreach (var ulvaProduct in ulvaProducts)
    {
        <hr />
        <h1>@ulvaProduct.Title</h1>

        if (ulvaProduct.Price != 0)
        {
            <h5>@ulvaProduct.Price kr</h5>
        }
        else
        {
            <h5>Pris: Skänkes</h5>    
    
        }

        <h6>@ulvaProduct.SelectMarket</h6>
        <p>Plats: @ulvaProduct.TableNumber</p>

        if (ulvaProduct.Brand != null)
        {
            <p>Märke: @ulvaProduct.Brand</p>
        }
        else{ continue; }

        if(ulvaProduct.Category != null)
        {
            <p>Kategori: @ulvaProduct.Category</p>

        }
        else { continue; }
    }
}
else if(Model.NoProducts == null && Model.Products != null){
    if(Model.Products.Count() == 0)
    {
        <p>Inga produkter hittades</p>
    }
    else
    {
        @foreach (var ulvaProduct in Model.Products)
        {
            <hr />
            <h1>@ulvaProduct.Title</h1>

            if (ulvaProduct.Price != 0)
            {
                <h5>@ulvaProduct.Price kr</h5>
            }
            else
            {
                <h5>Pris: Skänkes</h5>

            }

            <h6>@ulvaProduct.SelectMarket</h6>
            <p>Plats: @ulvaProduct.TableNumber</p>

            if (ulvaProduct.Brand != null)
            {
                <p>Märke: @ulvaProduct.Brand</p>
            }
            else { continue; }

            if (ulvaProduct.Category != null)
            {
                <p>Kategori: @ulvaProduct.Category</p>

            }
            else { continue; }
        }
    }
}
else
{
    @foreach (var ulvaProduct in ulvaProducts)
    {
        <hr />
        <h1>@ulvaProduct.Title</h1>

        if (ulvaProduct.Price != 0)
        {
            <h5>@ulvaProduct.Price kr</h5>
        }
        else
        {
            <h5>Pris: Skänkes</h5>

        }

        <h6>@ulvaProduct.SelectMarket</h6>
        <p>Plats: @ulvaProduct.TableNumber</p>

        if (ulvaProduct.Brand != null)
        {
            <p>Märke: @ulvaProduct.Brand</p>
        }
        else { continue; }

        if (ulvaProduct.Category != null)
        {
            <p>Kategori: @ulvaProduct.Category</p>

        }
        else { continue; }
    }       }
