@using FleaMarket.Services;
@inject ProductService productService

@{
    ViewData["Title"] = "Ulva Kvarn";
    var ulvaProducts = productService.GetUlvaKvarn();
}

<a asp-controller="Product" asp-action="Index"><u>Välj en annan marknad</u></a>

<h2>Produkter på Ulva Kvarn idag</h2>
   
<!--
<br />
        <select name="SelectCategoryToShow">
            <option selected value="Alla kategorier">Alla kategorier</option>
            <option value="För hemmet">För hemmet</option>
            <option value="Personligt">Personligt</option>
        </select>
    <br />
-->


@foreach (var ulvaProduct in ulvaProducts)
{
    <hr />
    <h1>@ulvaProduct.Title</h1>

    if (ulvaProduct.Price != 0)
    {
        <h5>@ulvaProduct.Price kr</h5>
    }
    else
    {
        <h5>Pris: Skänkes</h5>    
    
    }

    <h6>@ulvaProduct.SelectMarket</h6>
    <p>Plats: @ulvaProduct.TableNumber</p>

    if (ulvaProduct.Brand != null)
    {
        <p>Märke: @ulvaProduct.Brand</p>
    }
    else{ continue; }

    if(ulvaProduct.Category != null)
    {
        <p>Kategori: @ulvaProduct.Category</p>

    }
    else { continue; }

}
