@using FleaMarket.Models.Entities;
@using FleaMarket.Services;
@using Microsoft.AspNetCore.Identity;
@inject MarketService marketService
@{
    var markets = await marketService.GetAllAsync();
    ViewData["Title"] = "Hem";
}

<section class="home-showcase">
    <div class="container">
        <h4>Vad leter du efter idag?</h4>
        <p>Är det något speciellt du vill hitta? Med TradeTrails kan du snabbt och enkelt hitta vad du letar efter på en loppis eller marknad.</p>
    </div>
</section>

<section class="container home-container">

    <h4>Aktiva marknader</h4>
    <div class="">
        @foreach (var market in markets)
        {
            <div class="market">
                <a class="market-title" asp-controller="Product" asp-action="Market" asp-route-marketName="@market.MarketTitle">@market.MarketTitle</a>
                
                @if (market.marketDescription != null)
                {
                    <p class="market-description">@market.marketDescription</p>
                }

                @if (market.TimeOpen != null)
                {
                    <p class="market-timetitle">Öppettider</p>
                    <p class="market-time">@market.TimeOpen</p>
                }

                <div class="market-links">
                    <a href="@market.MapLink" target="_blank">@market.Address <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    @if (market.MarketLink != null)
                    {
                        <a href="@market.MarketLink" target="_blank">Mer info <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    }
                </div>
                <button>Se produkter</button>
            </div>
        }

    </div>

</section>